<div>
  <toolbar />
</div>
<md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="vm.showProgressBar"></md-progress-linear>
<md-content layout="row" layout-sm="column" layout-margin layout-padding>
  <!-- Registration -->
  <md-card layout-fill layout-margin>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Register</span>
      </md-card-title-text>
    </md-card-title>
    <div layout="column" layout-align="center center" layout-fill>
      <form layout="column" ng-submit="vm.registerUser()" layout-fill>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Name</label>
            <input type="text" ng-model="vm.register.name">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input type="email" ng-model="vm.register.email">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input type="password" ng-model="vm.register.password">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Phone</label>
            <input type="text" ng-model="vm.register.phone">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Address</label>
            <textarea ng-model="vm.register.address" md-maxlength="150" rows="3" md-select-on-focus></textarea>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <md-button type="submit" class="md-raised md-primary" layout-fill>Register</md-button>
          </md-input-container>
        </div>
      </form>
    </div>
  </md-card>

  <div></div>

  <!-- Login -->
  <md-card layout-fill layout-margin>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Login</span>
      </md-card-title-text>
    </md-card-title>
    <div layout="column" layout-align="center center" layout-fill>
      <form layout="column" ng-submit="vm.loginUser()" layout-fill>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input type="email" ng-model="vm.login.email">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input type="password" ng-model="vm.login.password">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <md-button type="submit" class="md-raised md-primary" layout-fill>Login</md-button>
          </md-input-container>
        </div>
      </form>
    </div>
  </md-card>
</md-content>