<md-dialog aria-label="Mango (Fruit)" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Select Fields</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" layout-wrap flex>
          <div flex-xs flex="50">
            <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
              <span ng-if="isChecked()">Un-</span>Select All
            </md-checkbox>
          </div>
          <div class="demo-select-all-checkboxes" flex="100" ng-repeat="field in WATCHABLE_FIELDS">
            <md-checkbox ng-checked="exists(field, selected)" ng-click="toggle(field, selected)">
              {{ field }}
            </md-checkbox>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="submit()" style="margin-right:20px;">
        Done
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
