/**
 * watchers.scss
 */

.demo-select-all-checkboxes {
  padding-left: 30px;
}

md-card {
  cursor: pointer;
}

.positive {
  background-color: #009688;
  height: 20px;
  width: 30px;
}

.negative {
  background-color: #F44336;
  height: 20px;
  width: 30px;
}